.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

/* center block option */
.columns.center {
    text-align: center;
}

.columns ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.columns ul li, .columns ol li {
    list-style: none;
}

.columns ul li img {
    max-height: 200px;
    width: auto;
    border-radius: 20px;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}