/* below the fold CSS goes here */
@import url('./fonts/pe-icon-7-stroke.css');

@font-face {
  font-family: titling-normal-regular;
  src: url('./fonts/titling-normal-regular/Titling-Gothic-FB-Normal-Regular.eot');
  src: url('./fonts/titling-normal-regular/Titling-Gothic-FB-Normal-Regular.eot') format('embedded-opentype');
  src: url('./fonts/titling-normal-regular/Titling-Gothic-FB-Normal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: titling-normal-medium;
  src: url('./fonts/titling-normal-medium/Titling-Gothic-FB-Normal-Medium.eot');
  src: url('./fonts/titling-normal-medium/Titling-Gothic-FB-Normal-Medium.eot') format('embedded-opentype');
  src: url('./fonts/titling-normal-medium/Titling-Gothic-FB-Normal-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

span.icon {
  display: inline-block;
  margin: 10px 12px;
  padding: 0;
  height: 32px;
  font-family: "Pe-icon-7-stroke"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  font-style: normal;
  color: #5DC99F;
  font-size: 30px;
}